@media screen and (max-width: 1024px) {
    .button-wrapper {
        .nav-bg {
            width: 58%;
        }
        .button {
            right: -12%;
            height: 9.37%;
            width: 73.33%;
            font-size: 5.5vw;
            &:nth-of-type(2) {
                top: 29.7%;
            }
            &:nth-of-type(3) {
                top: 40.4%;
            }
            &:nth-of-type(4) {
                top: 51.0%;
            }
            &:nth-of-type(5) {
                top: 61.4%;
            }
        }
    }
}

@media screen and (max-width: 834px) {
    header {
        .nav-wrapper {
            .left {
                padding: 30px 33px;
            }
            .right {
                padding: 30px 27px;
            }
        }
    }
    header .header-content-wrapper ul li {
        font-size: 28.85px;
        &:not(:first-of-type)::before {
            font-size: 28.85px;
        }
    }
    main {
        .mobile-left-text {
            text-align: left;
        }
        .full-width {
            padding: 0px 30px;
            &.vimeo {
                padding: 0px 25px;
            }
        }
        .main-content-wrapper {
            h2 {
                font-size: 40px;
                margin-top: 26px;
                margin-bottom: 96px;
            }
            p {
                font-size: 25px;
            }
            .border-top {
                padding: 129px 65px 0px 65px;
            }
            .social {
                display: none;
            }
            .previous,
            .next {
                .name {
                    font-size: 39.97px;
                }
                .desc {
                    font-size: 25.58px;
                    line-height: 19px;
                }
            }
            .headline-numbers,
            .headline-coverage {
                &::after {
                    font-size: 30.22px;
                    top: -21px;
                }
                padding: 53px 0px 53px 0px;
                ul {
                    li {
                        display: block;
                        font-size: 27.2px;
                        &:not(:first-of-type) {
                            margin-left: 0px;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
    footer {
        text-align: center;
        font-size: 20px;
        padding: 26px 0px 21px 0px;
        span {
            width: 100%;
            display: block;
        }
        .flex {
            flex-direction: column;
        }
        .footer-wrapper {
            .contact {
                padding-top: 25px;
                padding-bottom: 23px;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    header {
        h1 {
            font-size: 5.5vw;
        }
        .header-content-wrapper {
            ul {
                li {
                    font-size: 3.8vw;
                    &:not(:first-of-type) {
                        &::before {
                            font-size: 3.8vw;
                        }
                    }
                }
            }
        }
    }
    main {
        .main-content-wrapper {
            h2 {
                font-size: 10vw;
            }
            .headline-numbers,
            .headline-coverage {
                ul li {
                    font-size: 3.6vw;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        .nav-wrapper {
            img {
                width: 100%;
            }
        }
    }
    main {
        .main-content-wrapper {
            .headline-numbers,
            .headline-coverage {
                ul {
                    li {
                        font-size: 18px;
                    }
                }
            }
            .previous,
            .next {
                .name {
                    font-size: 21.97px;
                }
                .desc {
                    font-size: 16.58px;
                    line-height: 26px;
                }
            }
        }
    }
}