$primary-color: #e1007e;
$secondary-color: #333;
$tertiary-color: #f0f0f0;

$default-menu: #0d1a28;
$yellow-menu: #f9be18;
$orange-menu: #f99442;
$lightpink-menu: #f8656c;
$darkpink-menu: #e2008a;
$purple-menu: #b6419b;